.navbar{
    background: white!important;
    
}
.navbarAlignBottom{

    width: 100%;
}
@media screen and (max-width: 775px) {
    .navbarAlignBottom{
        position: absolute!important;
        bottom: 0!important;
    }
  }
.FooterA{
    color: black!important;
}